{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Bienvenue {{ user.email }}</h1>

    <h3 class="m-3">Vos recettes :</h3>

    {% if recipes is not empty %}
        <ul class="row list-unstyled">
            {% for recipe in recipes %}
                <li class="col-3 m-4 p-3 border border-3">
                    <h4>{{ recipe.title }}</h4>
                    <p>Durée : {{ recipe.duration }} minutes</p>
                    <p>Difficulté : {{ recipe.getDifficultyAsString() }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune recette trouvée.</p>
    {% endif %}
{% endblock %}